<!DOCTYPE html>
<html>
  <head>
    <title>Chuck Norris Joke Generator</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- <script src="./server.js"></script> -->
  </head>
  <body>
    <h1>Chuck Norris Joke Generator</h1>
    <img id="chucknorris" src="/images/chuckfish.png" alt="chucky"/>
    <!-- <p>Welcome to Chuck Norris Joke Generator</p> -->

    <form action="/" method="GET">

       <label for="Get chuck norris joke"></label>
    <button class="btn btn-success" type="submit">Get Chuck Norris Joke</button>
  </form>
  </body>


