<!DOCTYPE html>
<html>
  <head>
    <title>Chuck Norris Joke Generator</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Chuck Norris Joke Generator</h1>
    <p>Welcome to Chuck Norris Joke Generator</p>
    <form action="/" method="GET"></form>
      <button>Get Chuck Norris Joke</button>
    </form>
      <h2>
        <%= jokeData.value %>

      </h2>

